/*----------------------- font style------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,500;1,500&display=swap');

/* ------------common styles------------ */
body {
    font-family: 'Open Sans', sans-serif;
}

.button {
    color: white;
    width: 120px;
    height: 40px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    font-size: 13px;
    text-align: center;
    justify-content: center;

}

/* header part ----------------*/
.header {
    background: rgba(255, 144, 14, 0.1);
}

.nav-menu {
    display: flex;
    justify-content: space-around;
}

.header-title {}

.nav-sector {
    display: flex;
    list-style: none;
    gap: 45px;
    align-items: center;
    font-size: 18px;

}

/*------------ banner section -----------------*/
.banner {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.banner-title {
    text-align: center;
    margin: 26px 514px 11px 542px;
    font-weight: 700;
    font-size: 40px;
    width: 450px;
    /* height: 110; */

}

.banner-sub {
    font-weight: 10;
    font-size: 12px;
    color: #727272;
    text-align: center;
    margin: 0px 510px 15px 539px;
    /* width: 650px; */

}

.bannner-img {
    border-radius: 8px;
    width: 70%;
    padding-top: 50px;
    margin: 0px 230px 45px 250px;


}

/* -----------------team ------------*/

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    margin: 85px 0px 130px 0px;

}

.team-picture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}

.team-picture img {
    width: 342px;
    height: 342px;

}

.team-details {
    width: 537px;
    height: 304px;
    font-weight: 500;
    font-size: 25px;
}

.team-details h2 {
    width: 468px;
    height: 106px;
}

.team-details p {
    height: 80px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

/* ============= feature part============= */
.feature {
    height: 900px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.features-detail {
    width: 586px;
    height: 982px;
    /* margin: 0%;
    padding: 0%; */
}

.feature-title {
    border: 5px solid #FF900E;
    border-top: 0px;
    border-right: 0cm;
    border-bottom: 0ch;
    padding-left: 21px;
    font-weight: 700;
    font-size: 45px;
}

.feature-sub {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.feature-des {
    width: 586px;
    height: 131px;
    padding: 5px;
    background: white;
    margin-bottom: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

}

.feature-des-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.feature-des-sub {
    font-weight: 400;
    font-size: 10px;
    color: #727272;
}

.experience {
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 342px;
    height: 200px;
    left: 880px;
    top: 2537px;

}

.experience h2 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: azure;
}

.experience p {
    font-weight: 500;
    font-size: 25px;
    margin: 0%;
    color: azure;
}

/* fact section----------------- */
.fact {
    padding: 129px 0 0 0;
    gap: 24px;
    margin-left: 188px;
    width: 542px;
    height: 129px;

}

.fact h1 {
    font-weight: 700;
    font-size: 45px;
    position: absolute;
    width: 258px;
    height: 53px;
    margin-top: 0%;
}

.fact p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 66px;
}

/*   <!-- ---winnimg logo togo --> */
.activities {
    display: flex;
    width: 1000px;
    height: 240px;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 190px;
}

.logo {
    display: flex;
    flex-direction: column;
    width: 221.83px;
    height: 221.83px;
    border: 2px solid #FF900E;
    border-radius: 8px;
    align-items: center;
    justify-content: space-evenly;

}

.logo img {
    width: 47.39px;
    height: 45.22px;
}

.logo h2 {
    width: 83px;
    height: 53px;
    font-weight: 600;
    font-size: 45px;
    margin: 0%;
    text-align: center;

}

.logo p {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
    text-align: center;
}

/* /\sponsors parts */
.sponsor {
    margin-top: 100px;
    width: 542px;
    height: 129px;
    position: absolute;
    left: 33%;
    right: 33%;
    text-align: center;
}

.sponsor-header h2 {
    font-weight: 700;
    font-size: 45px;
}

.sponsor-header p {
    font-weight: 400;
    font-size: 16px;
}

/* last */
.brand {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 50px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 330px;
}

.brand img {
    width: 130px;
    height: 40px;
}

/* footer */
.footer {}

.footer {
    align-items: center;
    border-radius: 8px;
    width: 1476px;
    height: 100px;
    justify-content: center;
}

.footer-title {

    padding: 20px 0 20px 0;
    margin: 0 400px 0 400px;
    text-align: center;
    align-items: center;
    background: #FFF4E7;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    margin-bottom: 200px;
}

/* media query */

@media screen and (max-width:688px) {


    .nav-menu {
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin: 0%;
        padding: 0%;

    }

    .nav-sector {
        justify-content: center;
        gap: 27px;
        display: flex;
        flex-direction: column;
    }

    .bannner-img {
        width: 100%;
        padding: 0%;
        margin: 0;
    }

    .banner {}

    .banner-title {
        font-size: 24px;
        width: 100%;
    }

    .banner-sub {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 70%;
        height: 20px;
    }

    .button{
padding: 0%;
margin-top: ;
margin-top: 60px;
margin-bottom: 10px;

    } 
    .team{
        flex-direction: column;
        grid-template-columns: repeat(1,1fr);
      
    }
    .team-picture{
        width: 100%; margin: 0%;
        grid-template-columns: repeat(1,1fr);
    }
    .team-details,.team-details h2{
height: 100%;
width: 100%;
text-align: center;
    }
    .team-details button{
        margin-top: 4%;
        width: 150px;
        color: black;
        height: 60px;
    }
    .feature,
    .fact,
    .activities,
    .sponsor,
    .brand,
    .footer {
        display: none;
    }

}